.title {
  font-size: 40px;
}
.column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.test {
  position: absolute;
  bottom: 10px;
  width: 95%;
  padding: 10px;
}
.button {
  width: 100%;
}
html {
  background-image: url("background1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: 100% auto;
  background-size: cover;
}
.is-full-height {
  height: 90vh;
}
.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.pill {
  background-color: #6ad6f1;
  padding: 8px;
  border-radius: 20px;
  color: azure;
}

@media (max-width: 1024px) {
  .is-full-height {
    height: 90vh;
  }
}
@media (max-width: 768px) {
  .is-full-height {
    height: 55vh;
  }
}
.padding {
  padding: 20px;
}
.card-footer {
  background-color: rgb(231, 231, 231);
}
.card-foot {
  max-width: 40%;
  margin: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lineSpace{
  line-height: 2;
}
