@font-face {
  font-family: gotham-book;
  src: url("../gotham-book.oft") format("opentype"),
    url("../gotham-book.woff") format("woff"),
    /* Modern Browsers */ url("../gotham-book.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: gotham-black;
  src: url("../gotham-black.otf") format("opentype"),
    url("../gotham-black.woff") format("woff"),
    /* Modern Browsers */ url("../gotham-black.ttf") format("truetype"); /* Safari, Android, iOS */
}
.title {
  font-size: 40px;
}
.column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.test {
  position: absolute;
  bottom: 10px;
  width: 95%;
  padding: 10px;
}
.button {
  width: 100%;
}
html {
  background-image: url("background11.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: 100% auto;
}
.is-full-height {
  height: 90vh;
}
.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.pill {
  background-color: #76dabc;
  padding: 8px;
  border-radius: 20px;
  color: azure;
}

@media (max-width: 1024px) {
  .is-full-height {
    height: 90vh;
  }
}
@media (max-width: 768px) {
  .is-full-height {
    height: 55vh;
  }
}
.padding {
  padding: 20px;
}

.padding {
  padding: 20px;
}
.card-footer {
  background-color: rgb(231, 231, 231);
}
.card-foot {
  max-width: 40%;
  margin: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
